@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner {
    background-image: url(image/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 152vh;
}

.interior {
    width: 240px;
    height: 200px;
}