@media (max-width:600px) {

    header nav {
        flex-direction: column;
        gap: 20px;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    header nav ul li {
        padding: 0;
    }

    .header-title h1 {
        font-size: 40px;
    }

    .header-title p {
        font-size: 16px;
    }

    .header-title {
        padding: 1rem 0;
        padding-bottom: 30px;
    }


    .about-us p {
        font-size: 14px;
        width: 92%;
    }


    .team-description-wrapper {
        width: 100%;
    }

    .team-description ul {
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .team-description ul li {
        flex: 0 1 220px;
        padding-bottom: 30px;
    }

    .team-description ul li img {
        width: 100%;
        height: auto;
    }


    .choose-us ul {
        flex-direction: column;
    }

    .choose-us ul p {
        max-width: 65%;
        margin: 0 auto;
    }


    .blog-news {
        font-size: 14px;
    }

    .blog-news ul {
        flex-direction: column;
        gap: 30px;
    }
    
    .blog-news ul .item {
        max-width: 460px;
        margin: 0 auto;
    }
    
}