@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i&amp;display=swap);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 'PT Sans', sans-serif;
}

.section-header {
    min-height: 760px;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 1rem;
}

.section-header::after {
    display: block;
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(151, 151, 151, 0.4);
}

.section-header header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.2rem 0;
}

.section-header header,
.section-header .content {
    position: relative;
    z-index: 2;
}

.section-header nav ul {
    display: flex;
    gap: 2rem;
    font-size: 1.4rem;
}

.section-header nav ul li {
    list-style: none;
}

.section-header nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.logo {
    width: 120px;
}

.logo img {
    width: 100%;
}

.section-header .content {
    padding: 3.2rem 0;
    text-align: center;
}

.section-header .content h1 {
    font-size: 4.45rem;
    padding-bottom: 1.4rem;
}

.section-header .content p {
    font-size: 1.8rem;
    font-weight: bold;
}

.section-header .content .button {
    display: inline-block;
    text-decoration: none;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: gray;
    text-transform: uppercase;
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: bold;
}

.section-catalog {
    padding: 40px 140px;
    min-height: 560px;
    background-color: #60ACC1;
    text-align: center;
}

.section-catalog h2,
.catalog2 h2 {
    font-size: 2.1rem;
}

.section-catalog p,
.catalog2 p {
    font-size: 1.4rem;
}

.section-catalog .wrapper {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper article {
    width: 660px;
    height: 360px;
    display: flex;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
padding-right: 10px;
}

.wrapper article > * {
    flex: 0;
}

.wrapper article .media {
    flex-basis: 360px;
    overflow: hidden;
}

.wrapper article .media img {
    display: block;
    height: 100%;
}

.wrapper article .content {
    background-color: white;
    flex-grow: 1;
    padding: 2.8rem;
    text-align: center;
    font-size: 1.3rem;
}

.wrapper article .content h3 {
    padding-bottom: 1rem;
}

.wrapper article .content p {
    text-align: left;
}

.furniture {
    min-height: 420px;
    display: flex;
    padding: 2rem 6rem;
    align-items: center;
    justify-content: space-between;
}

.furniture article {
    text-align: center;
    flex: 0 1 450px;
    font-size: 1.4rem;
    color: #67686B;
}

.furniture .media{
    width: 150px;
    margin: 0 auto;
}

.furniture .media img {
    width: 100%;
    aspect-ratio: 1/1;
}

.catalog2 {
    background-color: #60ACC1;
    text-align: center;
    padding-top: 3rem;
}

.catalog2 .wrapper {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    padding-bottom: 4rem;
}

.catalog2 .wrapper .image {
    width: 450px;
    max-height: 310px;
    background-size: cover;
}

.catalog2 .wrapper .image img {
    box-shadow: 0 0 1rem 0 rgb(0, 0, 0, 0.8);
    display: block;
    width: 100%;
}

.about-us {
    text-align: center;
    padding: 4rem ;
}

.about-us > * {
    color: #67686B;
}

.about-us h2 {
    font-size: 2rem;
}

.about-us .subtitle,
.about-us .text {
    font-size: 20px;
}

.about-us .subtitle {
    font-style: italic;
}

.about-us .text {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 4rem;
}

footer {
    text-align: center;
    background-color: #2D333C;
    color: white;
    font-size: 20px;
    padding: 1rem;
}

@media (max-width:1600px) {
    .section-catalog .wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

@media (max-width:900px) {
    .catalog2 .wrapper {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

@media (max-width:640px) {
    .logo {
        display: none;
    }
}