/* th {
    background: lightblue;
}

th,td {
    width: 144px;
    height: 32px;
    border: solid 1px #ccc;
    padding-left: 5px;
} */

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #eee;
    padding: 2rem
}

.container {
    padding: 2rem;
    background-color: white;
    border-radius: 0.3rem;
    box-shadow: 0 0 1rem 0 rgb(0, 0, 0, 0.2);
}

p,ul,ol {
    padding-bottom: 1.5rem;
}

ul,ol {
    padding-left: 1.5rem;
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1.2;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th,td {
    border: 1px solid rgb(221,221,221);
    padding: 6px 10px;
}

th {
    background-color: rgb(214, 214, 214);
}

tbody tr:nth-child(odd) {
    background-color: rgb(243, 243, 243);
}

blockquote {
    border-left:4px solid rgb(221,221,221);
    padding-left: 30px;
    margin-left: 30px;
    font-style: italic;
    font-weight: 500;
}

.author {
    text-align: right;
}

hr {
    margin: 20px 0px;
}

@media (min-width: 800px) {
    body {
        padding: 1rem;
    }
}