@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 16px/1.5 'Ubuntu';
}

.section-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.3rem 3.8rem;
}

.section-header nav aside {
    display: flex;
    align-items: center;
}

.section-header nav aside .site-title {
    font-size: 3.1rem;
    border-right: 3px solid #ECECEC;
    padding-right: 28px;
    line-height: 1.2;
}

.section-header nav aside .site-title-desc {
    align-self: flex-end;
    color: #696969;
    width: 130px;
    text-align: right;
    letter-spacing: 3px;
    line-height: 2;
}

.section-header nav ul {
    display: flex;
    gap: 1px;
    margin-bottom: 10px;
}

.section-header nav ul li {
    list-style: none;
}

.section-header nav ul li a {
    text-decoration: none;
    color: #696969;
    background-color: #ECECEC;
    padding: 1.5rem 1.5rem;
    font-size: 1.1rem;
    letter-spacing: 2px;
}

.section-header nav ul li:first-of-type a {
    background-color: #56DBB1;
    color: black;
}

.section-header .media {
    max-height: 620px;
    
}

.section-header .media img {
    width: 100%;
    height: 630px;
    object-fit: cover;

}

.section-text {
    background-color: #56DBB1;
}

.section-text p {
    max-width: 80%;
    margin: 0 auto;
    padding: 6rem 0;
    font-size: 1.25rem;
    text-align: center;
}

.section-articles {
    background-color: #353434;
}

.section-articles ul {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    padding: 9rem 0;
    gap: 3rem;
}

.section-articles ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 350px;
}

.section-articles .icon {
    font-size: 4rem;
    background-color: #56DBB1;
    line-height: 1;
    padding: 1.5rem;
    color: white;
}

.section-articles ul li > * {
    margin: 0.7rem 0;
    text-align: center;
}

.section-articles ul li h3 {
    color: white;
    font-size: 1.2rem;
}

.section-articles ul li p {
    color: #5B5956;
    font-size: 1.1rem;
    line-height: 2;
    margin-bottom: 0;
}

.section-convallis .content {
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0;
}

.section-convallis .content h2 {
    color: #5F5F5F;
    font-size: 2.5rem;
}

.section-convallis .content p {
    color: #C3BCB8;
    font-size: 1.25rem;
    margin-bottom: 3rem;
    line-height: 1.2;
}

.section-convallis .content .button a {
    background-color: #974D1B;
    text-decoration: none;
    color: white;
    padding: 1.2rem 2.4rem;
    letter-spacing: 2px;
}

.second-articles ul li h3 {
    font-size: 1.9rem;
}

.section-footer {
    background-color: #1B9772;
}

.section-footer p {
    text-align: center;
    color: #56DBB1;
    padding: 5rem 0;
    font-size: 1.1rem;
    letter-spacing: 3px;
}

.section-footer p span {
    color: #DBFAF0;
}