@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 20px/1.5 'Lato';
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat';
}

header {
    background-color: #000;
}

header nav {
    padding: 0 20px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.logo {
    width: 50px;
    aspect-ratio: 1/1;
}

.logo img {
    height: 100%;
    width: auto;
}

.plans {
    position: relative;
}

.plans .topside-color {
    height: 370px;
    width: 100%;
    background-color: #1DB954;
    position: absolute;
    z-index: -1;
}

.container-plans {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 60px;
    min-height: 710px;
}

.container-plans .title {
    color: #fff;
    width: 140px;
    text-align: center;
}

.plan {
    flex: 1 1 870px;
    display: flex;
    padding: 20px;
    padding-top: 80px;
    align-items: flex-start;
}

.plan article {
    border-radius: 14px;
    max-width: 520px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0);
}

.plan1 {
    justify-content: flex-end;
    background-image: url(images/music.png);
    background-size: cover;
}

.plan2 {
    justify-content: flex-start;
}

.plan article .information {
    padding: 20px 60px;
}

.plan article .information h2 {
    text-align: center;
    opacity: 0.7;
    padding-bottom: 60px;
}

.plan2 article .information h2 {
    padding-bottom: 20px;
}

.plan article .information ul {
    list-style: circle;
}

.plan article .information ul li {
    line-height: 1.2;
    padding-bottom: 12px;
    opacity: 0.8;
}

.plan article .information .link {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 20px;
}

.plan2 article .information .link {
    margin-top: 30px;
    margin-bottom: 30px;
}

.plan article .information .link a {
    text-decoration: none;
    color: #fff;
    background-color: #1DB954;
    padding: 12px 50px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Montserrat';
}

.plan article .prices {
    background-color: #000;
    color: #fff;
    padding: 18px 0;
    font-size: 25px;
    text-align: center;
}

.plan article .prices span {
    padding: 10px 6px;

}

.plan1 article .prices span:last-of-type {
    border-left: 1px solid #fff;
    padding-left: 30px;
}

.dogopal {
    padding: 100px 100px 0 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.dogopal .content {
    flex: 0 1 66%;
}

.dogopal .content p {
    max-width: 90%;
}

.dogopal .content > * {
    padding-bottom: 20px;
    line-height: 1.3;
}

.dogopal .media {
    width: 460px;
}

.dogopal .media img {
    width: 100%;
}

.experience {
    padding: 70px max(40px, calc((100vw - 1250px) / 2));
    padding-bottom: 100px;
}

.experience {
    text-align: center;
}

.experience .list {
    text-align: left;
    border-radius: 6px;
    overflow: hidden;
}

.experience .title {
    font-size: 50px;
    padding-bottom: 30px;
}

.experience .subtitle {
    padding-bottom: 40px;
}

.experience .list p {
    padding: 10px 12px;
}

.experience .list > :nth-child(odd) {
    background-color: #CCCBCB;
}

.experience .list > :nth-child(even) {
    background-color: #81D8A0;
}

.experience .list p {
    display: flex;
    justify-content: space-between;
}

.experience .list p  span img {
    padding: 0 76px;
    height: 20px;
}

footer {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 32px;
}

