@media (max-width:600px) {

    body {
        font-size: 14px;
    }

    header nav {
        margin: 0 auto;
        padding-right: 1.5rem;
        justify-content: center;
    }

    header nav ul {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 0.4rem;
    }

    header nav ul li {
        padding: 0;
    }

    .header-title {
        padding: 1rem;
    }

    .header-title h1 {
        font-size: 2.1rem;
    }

    .header-title p {
        font-size: 1.1rem;
        max-width: 90%;
        margin: 0 auto;
    }

    .choose-us ul {
        flex-direction: column;
        gap: 1rem;
    }

    .choose-us ul li {
        max-width: 320px;
        margin: 0 auto;
    }

    .about-us p:nth-child(3) {
        width: 90%;
    }

    .team-description p:first-of-type {
        font-size: 1rem;
    }

    .team-description ul li p,
    .team-description ul li > p:nth-child(2) {
        font-size: 0.7rem;
    }

    .team-description-wrapper ul {
        gap: 3rem;
    }

    .team-description-wrapper ul li img {
        max-width: 120px;
        max-height: 140px;
    }
}